$yellow: rgba(255, 255, 20, 0.719);

$std-padding: 10px;
$std-margin: 5px;
$std-radius: 5px;
$std-width: 200px;
$std-height: 250px;

.card {
  background-color: transparent;
  padding: $std-padding;
  border-radius: $std-radius;
  border: solid white thin;
  margin: $std-margin;
  width: $std-width;
  height: $std-height;
  overflow-y: auto;
  overflow-wrap: break-word;
  .panel {
    .fas:hover {
      cursor: pointer;
    }
    [class*="fa-"] {
      transition: color 0.2s;
    }
    .fa-trash:hover {
      color: red;
    }
    .fa-check-circle:hover {
      color: green;
    }
    .done {
      color: green;
    }
  }
}
