// I didn't use the 7-1 structure because it's too specific for such a small project

@use './card';

$std-padding: 5px;
$std-margin: 20px;
$std-radius: 3px;
$ext-radius: 10px;

html,
body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-color: rgb(44, 44, 44);
  color: white;
  // background-image: -webkit-linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  // background-image: -moz-linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  // background-image: -o-linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  // background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  justify-content: center;
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    .inputs form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $std-padding;
      border-radius: $std-radius;
      input {
        margin-bottom: $std-margin;
        padding: $std-padding;
        border-radius: $ext-radius;
        border: white thin solid;
        background-color: transparent;
        color: inherit;
      }
    }
    .filter {
      background-color: transparent;
      border-radius: 10px;
      border: white thin solid;
      color: inherit;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    .panel {
      display: flex;
      justify-content: space-between;
    }
  }
}
